<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ action }} Book</title>
</head>
<body>
    <div style="float: right;">
        {% if user.is_authenticated %}
            Welcome, {{ user.username }}! 
            <a href="{% url 'relationship_app:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'relationship_app:login' %}">Login</a> |
            <a href="{% url 'relationship_app:register' %}">Register</a>
        {% endif %}
    </div>
    
    <h1>{{ action }} Book</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{ action }} Book</button>
    </form>
    <a href="{% url 'relationship_app:list_books' %}">Back to Books</a>
</body>
</html>
